@media only screen and (max-width: 460px) {
	:root {
		--pseudo-padding: 30px;
	}

	body {
		overflow: hidden;
	}

	.container {
		position: relative;
		padding-top: 35px;
		border: none;
		max-width: calc(100vw);
		height: calc(100vh);
	}

	.scoreboard {
		width: calc(100vw - var(--pseudo-padding));
	}

	.gameboard {
		position: relative;
		width: calc(100vw - var(--pseudo-padding));
		height: calc(100vw - var(--pseudo-padding));
		grid-template-rows: repeat(3, minmax(20px, 1fr));
		grid-template-columns: repeat(3, minmax(20px, calc(100vw / 3)));
	}

	.tile svg {
		width: calc(70%);
	}

	.tapbar {
		position: relative;
		transform: translateY(-41%);
		width: calc(100vw);
		height: 65px;
		border-radius: 0;
	}

	.tapbar .tap-container .tap-btn .emoji-btn {
		width: 40px;
		height: 40px;
		outline: none;
	}

	#emoji-card {
		position: relative;
		padding: 20px;
		height: auto;
		border-radius: 2px;
		width: calc(100vw - var(--pseudo-padding));
		transform: translate(-81%, -142%);
		grid-template-columns: repeat(5, calc((100vw / 6)));
		grid-template-rows: repeat(2, auto);
		box-shadow: 0 0px 3px 3px rgba(0, 0, 0, 0.08);
	}
}
