.notification {
	position: absolute;
	top: 0;
	transform: translateY(230%);
	font-size: 12px;
	font-weight: bold;
	width: var(--board-width);
	border-radius: var(--border-radius);
	height: 35px;
	border: none;
	color: var(--bc);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.2s ease-in-out;
}

.notification span {
	font-size: 14px;
}

.notification-playerOne {
	background-color: var(--playerOne-primary);
}

.notification-playerTwo {
	background-color: var(--playerTwo-primary);
}
