.notification {
	font-size: 24px;
	font-weight: bold;
	width: var(--board-width);
	height: 45px;
	border: none;
	color: var(--bc);
	background-color: var(--playerOne-secondary);
	display: flex;
	justify-content: center;
	align-items: center;
}
