.scoreboard {
	width: var(--board-width);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: var(--font);
	color: var(--secondary);
}

.scoreboard .data {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.scoreboard .data .username {
	margin-bottom: 5px;
	font-size: 12px;
	z-index: 1;
}

.scoreboard .data .score {
	font-size: 20px;
	font-weight: 900;
	z-index: 1;
}
