<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Flango</title>
  <link rel="icon" type="img/png" href="./img/1f414.png">
  <link rel="stylesheet" href="style.css" />
  <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
  <script defer defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script defer src="./ms.js"></script>
  <script defer src="./app.js"></script>
</head>

{{{body}}}

</html>