<div class="container">
  <div class="scoreboard">
    <div class="player-one">
      <p class="player-one-username">Player One</p>
      <p class="score" id="player-one-score">0</p>
    </div>
    <div class="tie">
      <p>Tie</p>
      <p class="score" id="tie">0</p>
    </div>
    <div class="player-two">
      <p class="player-two-username">Player Two</p>
      <p class="score" id="player-two-score">0</p>
    </div>
  </div>
  <ul class="grid-wrapper">
    <li id="1" class="cell"></li>
    <li id="2" class="cell"></li>
    <li id="3" class="cell"></li>
    <li id="4" class="cell"></li>
    <li id="5" class="cell"></li>
    <li id="6" class="cell"></li>
    <li id="7" class="cell"></li>
    <li id="8" class="cell"></li>
    <li id="9" class="cell"></li>
  </ul>
  <p class="turn">Your turn 😄</p>
  <!-- <p class="turn waiting">Waiting opponent... 😴</p> -->
  <button id="restart">Restart</button>
</div>