<div class="container">
  <div class="players">
    <p class="player">Lucas: <span id="player-one-score">0</span></p>
    <p class="player">Tie: <span id="tie">0</span></p>
    <p class="player">CPU: <span id="player-two-score">0</span></p>
  </div>
  <ul class="grid-wrapper">
    <li id="1" class="cell"></li>
    <li id="2" class="cell"></li>
    <li id="3" class="cell"></li>
    <li id="4" class="cell"></li>
    <li id="5" class="cell"></li>
    <li id="6" class="cell"></li>
    <li id="7" class="cell"></li>
    <li id="8" class="cell"></li>
    <li id="9" class="cell"></li>
  </ul>
  <p class="turn">Your turn 😄</p>
  <!-- <p class="turn waiting">Waiting opponent... 😴</p> -->
  <button id="restart">Restart</button>
</div>