<div class="container">
  <div class="scoreboard">
    <div class="data playerOne">
      <div class="username">
        <p>PLAYER ONE</p>
        <span>(X)</span>
      </div>
      <div class="score">0</div>
      <div class="react"></div>
    </div>
    <div class="data tie">
      <div class="username">TIE</div>
      <div class="score">0</div>
    </div>
    <div class="data playerTwo">
      <div class="username">
        <p>PLAYER TWO</p>
        <span>(O)</span>
      </div>
      <div class="score">0</div>
      <div class="react"></div>
    </div>
  </div>
  <ul class="gameboard">
    <li class="tile 1"></li>
    <li class="tile 2"></li>
    <li class="tile 3"></li>
    <li class="tile 4"></li>
    <li class="tile 5"></li>
    <li class="tile 6"></li>
    <li class="tile 7"></li>
    <li class="tile 8"></li>
    <li class="tile 9"></li>
  </ul>
  <div class="tapbar">
    <div class="tap-container">
      <div class="tap-btn">
        <a class="emoji-link" href="#">
          <i class="fas fa-door-open"></i>
          <div id="leave-card">
            <p class="leave-card-item">Confirm action</p>
            <p class="leave-card-item">Are you sure you want to leave?</p>
            <div class="leave-card-buttons">
              <button id="leave-card-leave-btn" class="leave-card-item">Leave</button>
            </div>
          </div>
        </a>
      </div>
      <div class="tap-btn">
        <p class="room-id"></p>
      </div>
      <div class="tap-btn">
        <a class="emoji-link" href="#">
          <div class="emoji-btn">
            <img src="./svg/emojis/1f600.svg" />
            <ul id="emoji-card">
              <li class="emoji"><img src="./svg/emojis/1f602.svg" /></li>
              <li class="emoji"><img src="./svg/emojis/1f605.svg" /></li>
              <li class="emoji"><img src="./svg/emojis/1f61d.svg" /></li>
              <li class="emoji"><img src="./svg/emojis/1f625.svg" /></li>
              <li class="emoji"><img src="./svg/emojis/1f624.svg" /></li>
              <li class="emoji"><img src="./svg/emojis/1f621.svg" /></li>
              <li class="emoji"><img src="./svg/emojis/1f91d.svg" /></li>
              <li class="emoji"><img src="./svg/emojis/270c.svg" /></li>
              <li class="emoji"><img src="./svg/emojis/1f44f.svg" /></li>
            </ul>
          </div>
        </a>
      </div>
    </div>
    <div class="restart" title="restart game">
      <i class="fas fa-redo-alt"></i>
    </div>
  </div>
  <div class="notification">
    <p>
      <span class="notification-username">
        <!-- PLAYER TWO -->
      </span>
      <!-- has joined the game -->
    </p>
  </div>
</div>