/* screens bigger than 460px */
@media only screen and (min-width: 460px) {
	.tile:hover {
		background-color: var(--tile-hover);
	}
}

/* screens smaller than 460px */
@media only screen and (max-width: 460px) {
	:root {
		--pseudo-padding: 30px;
	}

	.container {
		position: relative;
		margin: 0 auto;
		padding-top: 35px;
		border: none;
		max-width: calc(100vw);
		height: calc(100vh);
		overflow: hidden;
	}

	.scoreboard {
		width: calc(100vw - var(--pseudo-padding));
	}

	.notification {
		width: calc(100vw - var(--pseudo-padding));
		height: 45px;
	}

	.gameboard {
		position: relative;
		width: calc(100vw - var(--pseudo-padding));
		height: calc(100vw - var(--pseudo-padding));
		grid-template-rows: repeat(3, minmax(20px, 1fr));
		grid-template-columns: repeat(3, minmax(20px, calc(100vw / 3)));
	}

	.tile svg {
		width: calc(70%);
	}

	.tapbar {
		position: relative;
		transform: translateY(-34%);
		width: 100vw;
		height: 65px;
		border-radius: 0;
	}

	.tapbar .tap-container .tap-btn {
		width: 100vw;
	}

	.tapbar .tap-container .tap-btn .emoji-btn {
		width: 42px;
		height: 42px;
		outline: none;
	}

	#emoji-card {
		/* opacity: 0; */
		position: relative;
		padding: 20px;
		height: auto;
		border-radius: 2px;
		width: 90vw;
		transform: translate(calc(-80%), -142%);
		grid-template-columns: repeat(auto-fit, minmax(55px, 3fr));
		grid-template-rows: repeat(auto-fit, minmax(55px, 3fr));
		box-shadow: 0 0px 3px 3px rgba(0, 0, 0, 0.08);
	}
}
