@media only screen and (max-width: 460px) {
	:root {
		--pseudo-padding: 30px;
	}

	body {
		background-image: none;
		overflow: hidden;
	}

	.container {
		padding: 0;
		border: none;
		max-width: calc(100vw);
		height: calc(100vh - 50px);
	}

	.scoreboard {
		width: calc(100vw - var(--pseudo-padding));
	}

	.gameboard {
		top: 0;
		width: calc(100vw - var(--pseudo-padding));
		height: calc(100vw - var(--pseudo-padding));
		grid-template-rows: repeat(3, minmax(20px, 1fr));
		grid-template-columns: repeat(3, minmax(20px, calc(100vw / 3)));
	}

	.tile:hover {
		background-color: transparent;
	}

	.tile svg {
		width: calc(70%);
	}

	.tapbar {
		position: relative;
		top: 0;
		transform: translateY(37%);
		/* width: calc(100vw - var(--pseudo-padding)); */
		width: 100vw;
		height: 70px;
		border-radius: 0px;
	}

	.tapbar .tap-container .tap-btn .emoji-btn {
		width: 40px;
		height: 40px;
		outline: none;
	}

	#emoji-card {
		position: absolute;
		padding: 20px 15px;
		width: calc(100vw - 10px);
		height: auto;
		border-radius: 2px;

		grid-template-columns: repeat(5, calc((100vw / 6)));
		grid-template-rows: repeat(2, auto);

		transform: translate(-78.7%, -139%);
		box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.12);
	}
}
